Flask==1.1.1
tensorflow==2.5.1
numpy>=1.16.5
gevent==1.4.0
Werkzeug==0.16.0
sys==3.7.4
os>=2.7.*
glob==3.5.*
re==2.2.1
gunicorn==19.9.0
scipy==1.3.1
scikit-learn>=0.18
pandas>=0.25.1
MarkupSafe==1.1.1
Jinja2==2.10.1
tsdangerous==1.1.0
